*
{
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
.contaner
{
    width: 100%;
    /*background-color: rgb(56, 63, 70); */
}
.header
{
    background-color: rgb(165, 186, 209);
    text-align: center;
    padding:60px;
}
.navbar
{
    display: flex;
    background-color: rgb(56, 63, 70);
}
.navbar a
{
    color:whitesmoke;
    padding:15px 25px;
    text-decoration: none;
    text-align:center;
}
.row
{
    display:flex;
    flex-wrap:wrap;
    background-color: rgb(56, 63, 70);
}
.side
{
    flex: 30%;
    background-color: rgb(230, 169, 169);
    padding:20px;
    margin-right: 1%;
}
.main
{
    flex:69%;
    background-color: #9ddaec;
    padding:20px;

}
.img 
{
    background-color: rgb(212, 211, 211);
    width: 100%;
    padding: 10px;
}
.textarea 
{
    background-color: rgb(253, 253, 253);
    width: 100%;
    padding: 20px;
}
.footer 
{
    padding: 20px;
    text-align: center;
    background: rgb(118, 135, 153);  
    margin-top: 1%; 
}
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
